.venv/
__pycache__/
graphxai.egg-info/
.DS_Store

figs/*
trained_models/*
graphml/*
explanations/*
explanations_subgraphx/*
data/
final_models/
metrics/

!figs/.gitkeep
!trained_models/.gitkeep
!graphml/.gitkeep
!explanations/.gitkeep